# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
evals-ranges/deploy.auto.tfvars
evals-ranges/.terraform
*.iml